.new_center_box{
	float: left;
	width: 950px;
	box-sizing: border-box;
}
.new_center_box .new_box_right_wenz{
	width: 100%;
	/*height: 450px;*/
}
.new_center_box .new_box_right_wenz .new_box_right_li{
	border-bottom:1px dotted #dbd4cd;
	width: 703px;
	height: 80px;
	margin-bottom: 10px;
}
.new_center_box .new_box_right_wenz .new_box_right_li .new_right_ragl{
	width: 70px;
	height: 70px;
	background: #E06A78;
	text-align: center;
	float: left;

} 
.right_li_box{
	width: 703px;
	margin-left: 30px;
}
.new_right_ragl span{
	color: #fff;
	font-size: 24px;
	font-weight: bold;

} 
.new_right_ragl p{
	color: #fff;
    font-size: 13px;
}
.new_right_wen_box{
	float: left;
	width: 633px;
	height: 70px;
}
.new_right_wen_box a{
	display: inline-block;
    font-family: Microsoft YaHei;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 5px;
    color: #333333;
    font-weight: normal;
    line-height: 140%;
}
.new_right_wen_box a:hover{
	text-decoration: none;
	color: #F77E8C;
}
a{
	text-decoration: none;
}
.new_right_wen_box p{
	line-height: 140%;
    font-family: Microsoft YaHei;
    font-size: 12px;
    padding-top: 6px;
    color: #666666;
    font-weight: normal;
    text-decoration: none;
}
/*新闻中心 end*/



